<div class="hero">
	<div class="spacer"></div>
	<div class="row centered-row">
		<div class="frosty col-xs-8 col-xs-offset-2 text-center">
			<h1>Learn at home with our expert video guides</h1>
			<h3>Hundereds of courses covering a wide range of topics</h3>
			<br>
			<%= link_to "Learn More", "#", class: "btn btn-success" %>
		</div>
	</div>
	<div class="spacer"></div>
</div>