<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 hero-column">
			<div class="hero">
				<div class="spacer"></div>
				<div class="row centered-row">
					<div class="frosty col-xs-8 col-xs-offset-2 text-center">
						<h1>Learn at home with Learnster</h1>
						<h3>Hundereds of video courses covering a wide range of topics</h3>
						<br>
						<%= link_to "Learn More", "#", class: "btn btn-success" %>
					</div>
				</div>
				<div class="spacer"></div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 text-center box">
			<br>
			<div class="row">
				<div class="col-sm-4">
					<%= image_tag "video_icon.svg", class: "icon" %>
					<h3>Tons of Topics</h3>
					<p>Whether you're interested in web design, journalism, baking, or auto repair, Learnster has something for you.</p>
					<br>
				</div>
				<div class="col-sm-4">
					<%= image_tag "calendar_icon.svg", class: "icon" %>
					<h3>Flexible Pace</h3>
					<p>With Learnster, you always go at your own pace. Need to take a break? No problem. Your Learnster classes will be there for you when you return.</p>
					<br>
				</div>
				<div class="col-sm-4">
					<%= image_tag "cash_icon.svg", class: "icon" %>
					<h3>Simple Pricing</h3>
					<p>No need to worry about subscription fees and cancellations. Many Learnster courses are free, while the rest can be purchased with a one-time payment and are yours forever.</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>