<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 box">
			<%= image_tag "obulkin_photo.jpg", size: "200", class: "team-photo pull-left" %>
			<h2>Oleg Bulkin</h2>
			<p>After graduating from Stanford University with a degree in Economics, Oleg spent 9 years working in various internet marketing roles (SEM, SEO, display, video, etc.). He gradually moved into more and more technical marketing roles and has recently quit the field to kick this trend up a notch and pursue a career in web development.</p>
		</div>
	</div>
</div>