<div class="container-fluid">
	<div class="row">
		<div class="box col-xs-10 col-xs-offset-1">
			<h2>Enter Your Lesson Details</h2>
			<br>
			<%= simple_form_for @lesson, url: instructor_section_lessons_path(params[:section_id]) do |f| %>
				<%= f.input :title %>
				<%= f.input :subtitle %>
				<br>
				<%= f.submit "Add Lesson", class: "btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>