/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/sortable
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages";
@import "courses";
@import "lessons";
@import "instructor/courses";

body {
	background: url(image_path("grey_grid.png"));
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.navbar {
	border-radius: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 200;
	box-shadow: 0px 1px 3px #2a2a2a;
	background: url(image_path("dark_geometric.png"));
}

.navbar-inverse .navbar-brand {
	color: white;
	font-weight: 100;
}

.alert {
	display: inline-block;
}

.main-content {
	flex: auto;
}

.btn {
	border-radius: 0;
}

.box {
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	padding: 15px;
}

.footer {
	background-color: rgba(36, 32, 33, 0.9);
	margin-top: 20px;
	color: white;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	padding: 10px 0;
}

.footer a {
	color: white;
}

.has-error {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 0 3px;
}

.help-block {
	text-transform: uppercase;
}

.devise-links {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.devise-links li {
	display: inline-block;
	margin: 0 10px 5px 0;
}

.pagination > li > a, .pagination > li > a:hover, .pagination > li > a:focus {
	color: black;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus {
	color: white;
	border-color: black;
	background-color: black;
}