// Place all the styles related to the instructor/courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.instructor-course-view .btn {
	margin-bottom: 5px;
}

.instructor-course-view .section ul {
	margin-bottom: 10px;
}

.instructor-course-view .section ul li {
	border: 2px solid white;
	margin-bottom: 5px;
	padding: 0 2px;
}

.glyphicon {
	font-size: 11px;
}